<form method="POST" action="/login">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="test@gmail.com" class="form-control" required>
      </div>
    <br />
    <div class="form-group">
      <label for="phoneNumber">phoneNumber</label>
      <input type="text"  name="phoneNumber" class="form-control" placeholder="+33667182298" required>
    </div>
    <br />
    <input class="btn btn-secondary" type="submit" value="Login">
  </form>