<form method="POST" action="/register">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text"  name="firstName" class="form-control" placeholder="First Name" required>
    </div>
    <br />
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text"  name="lastName" class="form-control" placeholder="Last Name" required>
    </div>
    <br />
    <div class="form-group">
      <label for="birthDate">Birth Date</label>
      <input type="text"  name="birthDate" class="form-control" placeholder="1996-05-17" required>
    </div>
    <br />
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email"  name="email" class="form-control" placeholder="test@gmail.com" required>
    </div>
    <br />
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text"  name="phoneNumber" class="form-control" placeholder="+33667182298" required>
    </div>
    <br />
    <div class="form-group">
      <label for="country">country</label>
      <input type="text"  name="country" class="form-control" placeholder="France" required>
    </div>
    <br />
    <input class="btn btn-secondary" type="submit" value="Submit">
  </form>