<div class="container">
    <form method="POST" action="/rides/price">
      <div class="form-group">
        <label for="startLatitude">StartLatitude</label>
        <input type="text" class="form-control" name="startLatitude" class="form-control" placeholder="startLatitude" required>
      </div>
      <div class="form-group">
        <label for="startLongitude">StartLongitude</label>
        <input type="text" class="form-control" name="startLongitude" class="form-control" placeholder="startLongitude" required>
      </div>
      <div class="form-group">
        <label for="endLatitude">EndLatitude</label>
        <input type="text" class="form-control" name="endLatitude" class="form-control" placeholder="startLongitude" required>
      </div>
      <div class="form-group">
        <label for="endLongitude">EndLongitude</label>
        <input type="text" class="form-control" name="endLongitude" class="form-control" placeholder="endLongitude" required>
      </div>
      <div class="form-group">
        <label for="startFullAddress">StartFullAddress</label>
        <input type="text" class="form-control" name="startFullAddress" class="form-control" placeholder="startFullAddress">
      </div>
      <div class="form-group">
      <label for="startZipCode">StartZipCode</label>
      <input type="text" class="form-control" name="startZipCode" class="form-control" placeholder="startZipCode">
      </div>
      <div class="form-group">
        <label for="endFullAddress">EndFullAddress</label>
        <input type="endFullAddress" class="form-control"  name="endFullAddress" class="form-control" placeholder="endFullAddress">
      </div>
      <input class="btn btn-secondary" type="submit" value="Submit">
    </form>
  </div>